*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    min-width: 400px;
}

#nav-bar {
    width: 100%;
    padding: 0 5px 0 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: #5E5E5E;
}

#nav-menu-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 0 1 auto;
}

#nav-bar-filler-right {
    height: 0;
    flex: 4 1 1px;
}

#nav-bar-filler-left {
    height: 0;
    flex: 1 1 1px;
}

.menu-item {
    user-select: none;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 24px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    width: 140px;
    text-decoration: none;
}

.menu-item:hover {
    background: #444444;
}

#content-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#content {
    padding: 30px 20px 20px 20px;
    flex: 0 1 1200px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.text-container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #313131;
}

.text-container>* {
    margin-bottom: 16px;
}

.text-container>*:last-child {
    margin-bottom: 0;
}

.text-container h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
}

.text-container h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
}

.text-container .quote {
    font-style: italic;
    margin: 16px;
}

.text-container a {
    text-decoration: none;
}

.text-container ul, ol {
    margin-left: 40px;
}

.text-container .insert-image {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text-container .insert-image img {
    max-width: 100%;
}

.text-container .insert-image-caption {
    max-width: 100%;
    margin-top: 6px;
    font-style: italic;
}

.text-container .code-container {
    width: 95%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
}

.text-container pre {
    width: 10px;
    flex: 1 1 auto;
}

.text-container code {
    text-align: left;
    max-width: 100%;
    font-size: 14px;
    font-family: Consolas, Monaco, monospace;
    max-width: 100%;
}